# Ignore the third-party binary engines (they will be downloaded via script)
bin/

# Ignore the dynamically generated user permission manifest
com.foss.ytdlp.json

# Ignore Windows system and folder thumbnail caches
Thumbs.db
Desktop.ini

# Ignore temporary text files or custom paths users might save
*.txt

# Python files and virtual environments
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
ENV/

# Node.js / JavaScript dependency folder
node_modules/
.env
.env.local

# If on MAC or even on windows
.DS_Store

# Exceptions!!!!
!requirements.txt